/*** HEADER ***/
body {
  font-family: var(--ff-primary);
}

#header {
  position: relative;
  height: 200px;
}

#menu-icon {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 96px;
  color: var(--white-color);
  cursor: pointer;
}

/*** MY AGENDA ***/
#performances-container {
  margin-top: 50%;
}

.agenda {
  margin-top: 5%;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

.year {
  width: 50%;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  color: var(--nickel-color);
  border: 1px solid var(--nickel-color);
  margin: 10px 20px 20px 20px;
  font-size: 30px;
}

.year.active {
  color: var(--black-color);
  border: 1px solid var(--black-color);
}

.content-item {
  display: none;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  margin-left: 6%;
  /* margin-right: 5%; */
}

.event-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 40px;
}

.event-details > div {
  display: flex;
  flex-direction: column;
}

.event-date-container {
  flex: 1;
}

.event-content-container {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-date {
  text-align: left;
  font-size: 55px;
  color: var(--tuscan-color);
}

.event-month {
  font-size: 40px;
  color: var(--tuscan-color);
}

.event-name,
.event-location {
  text-align: center;
  margin: 0;
  margin-right: 15%;
}

.event-name {
  font-size: 40px;
  color: var(--midnight-color);
}

.event-location {
  font-size: 25px;
  color: var(--midnight-color);
}

.event-horizontal-line {
  width: 90%;
  border: 1px solid var(--black-color);
}

.last-one {
  margin-bottom: 10vh;
  position: relative;
  bottom: 0;
}
