/*** HEADER ***/
#header {
  position: relative;
  height: 200px;
}

#menu-icon {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 96px;
  color: var(--white-color);
  cursor: pointer;
}

/*** GALLERY ***/
#gallery {
  margin-top: 45%;
}

#gallery img {
  margin-left: 5%;
}

#scroll-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.image-wrapper {
  flex: 0 0 auto;
  margin-right: 5px;
}

.image-wrapper img {
  width: 900px;
  height: 700px;
  object-fit: contain;
  margin: 5px;
}

.event-row {
  margin-bottom: 50px;
}

.description {
  margin: 10px 0px 15px 30px;
  font-size: 12px;
}

.dark-background {
  background-color: #233041;
  color: white;
  padding: 5% 10px 10px 5px;
}
